.photographer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color:coral;
}

.photographer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cart{
    margin-left: 20px;
}